<!DOCTYPE html>
<html lang="pt-br" class="page-dashboard">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://localhost/projetos/sistema-login/assets/styles/style.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="menu">
        <ul class="menu__lista">
          <li>Seja bem vindo, {{name}}</li>
          <li><a class="menu__lista--link" href="http://localhost/projetos/sistema-login/dashboard/sair">Sair</a></li>
        </ul>
      </nav>
    </header>
    <section class="center">
      <h1>Dashboard</h1>
    </section>
  </body>
</html>
